.fuente-register{
    font-family: 'JosefinSans-Light';
}

ion-button{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.img-register{
    width: 100%;
    height: 160px;
    object-fit: cover;
    opacity: 0.7; 
}

.form-register{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.join-register{
    font-size: 20px;
    text-align: center;
    font-family: 'JosefinSans-Light';
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.link-register{
    margin-left: 10px;
    text-decoration: none;
    color: #3dc2ff;
}

.icon-register{
    margin-top: auto;
}